@font-face {
    font-family: 'vazir';
    src: url('../fonts/number/vazir.eot') format('eot');
    src : url('../fonts/number/vazir.ttf') format('truetype'),
    url('../fonts/number/vazir.woff') format('woff');
}

